/* Header */
.nav {
  margin: 0px 40px;
}

.lista {
  font-family: "Fira Sans", arial, sans-serif;
  gap: 20px;
}

/* Jokes*/

.joke {
  font-size: 1.5rem;
}

.icon {
  display: none;
}

@media (max-width: 900px) {
  .responsivePanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 750px) {
  .titleChuck {
    padding: 20px 0px;
    font-size: 3.2rem;
    line-height: 50px;
  }
}

@media (max-width: 600px) {
  .img {
    width: 200px;
  }

  .joke {
    font-size: 1.2rem;
  }
  .nav {
    padding: 0px;
    margin: 0px 10px;
  }
  .container {
    padding: 0px;
    margin: auto;
    width: 90%;
  }
  .titleChuck {
    font-size: 2rem;
    line-height: 30px;
  }
  .joke {
    font-size: 1rem;
    width: 360px;
    margin: auto;
  }
  .category {
    font-size: 0.9rem;
  }
  .url {
    display: block;
    font-size: 15px;
    text-align: start;
  }
}

@media (max-width: 500px) {
  .nav {
    display: none;
  }
  .icon {
    display: block;
  }
  .titleChuck {
    font-size: 1.3rem;
    line-height: 30px;
  }
  .joke {
    font-size: 0.8rem;
    width: 320px;
    margin: auto;
  }
  .category {
    font-size: 0.7rem;
  }
  .url {
    display: block;
    font-size: 0.7rem;
    text-align: start;
  }
  .responsiveSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 500px) {
  .joke {
    font-size: 0.8rem;
    width: 230px;
    margin: auto;
  }
}
